*.vsidx
HomeAssignment/LeeXerri_CustomerService/LeeXerri_CustomerService/appsettings.json
HomeAssignment/LeeXerri_CustomerService/LeeXerri_CustomerService/firebase-service-account.json
TeacherExample/IdentityA/IdentityA/appsettings.Development.json
TeacherExample/IdentityA/IdentityA/appsettings.json
/TeacherExample
